

body{
	margin: 0;
	padding: 0;
   font-family: 'Raleway', sans-serif;
   background: url(img/google.png) no-repeat;
   background-size: cover;
   display: flex;

}

/*contenedor1*/
.container{
	width: 50%;
	height: 400px;
	background: #fff;
	margin: 200px auto;
	border: 2px solid white;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
	display: flex;
}
/*contenedor lado izquierdo*/
.container .left{
	float: left;
	width: 50%;
	height: 400px;
	background: url(img/rosa.jpg) no-repeat;
	background-size: 100%;
	box-sizing: border-box;
	display: flex;
	animation: movimiento 3s infinite linear alternate;
}
/*efecto de movimiento*/
@keyframes movimiento{
	from{
		background-position: bottom left;
	}to{
		background-position: top right;
	}
}

/*contenedor lado derecho*/
.container .rigth{
	float: right;
	width: 50%;
	height: 400px;
	box-sizing: border-box;
	display: flex;

}

.formBox{
	width: 100%;
	padding: 80px 40px;
	box-sizing: border-box;
	height: 400px;
	background: white;
	background: url(img/pexels-photo-2337927.jpeg);
}
/*ingresa tarjeta*/
.formBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:violet;
	font-size: 200%;
}
/*placeholder*/
.formBox input{
	margin-bottom: 20px;
	display: block;
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	border: 0;
	background-color: white;
	text-align: center;
	font-size: 15px;
	border-radius: 10px;
}
/*boton asociar tarjeta*/
#contenedor1 button{	
	display: block;
	margin-bottom: 20px;
	border: 0;
	background-color: skyblue;
	color: white;
	font-size: 15px;	
	width: 180px;
	height: 60px;
	border-radius: 6px;
	cursor: pointer;
	
}

#contenedor1 button:hover{
	background: pink;
}
/*segunda pantalla */



#contenedor2{
	width: 50%;
	height: 400px;
	margin: 200px auto;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
	display: flex;
	text-align: center;
	padding: 40px 40px;
    color: black	;

	}


#contenedor2 p{
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color:black;
	text-align: center;
	font-size: 200%;

}

#contenedor2 button{
	width: 40%;
	box-sizing: border-box;
	border: 0;
	height: 50px;
   background-color: skyblue;
   color: white;
	font-size: 16px;
	border-radius: 6px;
	cursor: pointer;
}

#contenedor2 button:hover{
	background: orangered;
}


nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:table;
	overflow: hidden;
	width:100%;
	background:#000;
	position:relative;
}
 
nav > ul li {
	display:table-cell;
}
 
/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}
 
nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
 
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}
 
/*Colores*/
nav ul li a .primero {
	background:#0e5061;
}
 
nav ul li a .segundo {
	background:#5da5a2;
}
 
nav ul li a .tercero {
	background:#f25724;
}
 
nav ul li a .cuarto {
	background:#174459;
}
 
nav ul li a .quinto {
	background:#37a4d9;
}


